<div class="mt-44 lg:mt-0 rounded-4xl">
    {{ partial:common_sections/profile }}
    <div class="bg-white pt-10 px-5 dark:bg-dark-tblack lg:rounded-tl-2xl lg:rounded-tr-2xl lg:px-14">
        <h2 class="after-effect lg:after:left-52 text-4xl font-bold relative lg:after:'' after:absolute after:top-1/2 lg:after:w-48 after:h-0.5 after:rounded-sm lg:after:bg-gradient-to-r from-brand-orange to-brand-red dark:text-white mb-4">{{about_heading}}</h2>
        <article class="prose prose-gray text-gary-5 dark:text-dark-gray-2 pb-8"> {{about_description}}</article>
    </div>
</div>