<nav id="navbar" class="lg:hidden content" x-show="show">
    <ul
        class="block rounded-b-4xl shadow-md absolute left-0 top-20 z-100 w-full bg-white dark:bg-dark-tblack1">
        {{nav:main}}
        <li>
            <a class="{{ if is_current }} mobile-menu-items-active bg-gradient-to-r from-brand-orange to-brand-red text-white dark:text-white {{else}} mobile-menu-items {{ endif }} rounded-md  cursor-pointer font-poppins bg-white text-gray-lite font-medium mx-2.5 flex text-xtiny py-2.5 px-2 md:px-4 xl:px-5 items-center transition-all duration-300 ease-in-out dark:hover:text-white dark:bg-dark-gray-3 hover:text-white hover:bg-gradient-to-r from-brand-orange to-brand-red dark:text-dark-gray-2 text-sm"
                href="{{url}}">
                <span class="mr-2 text-xl">
                    <i class="{{nav_fa_icon}}"></i>
                </span> {{title}} </a>
        </li>
        {{/nav:main}}
    </ul>
</nav>